html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    max-width: 100vw;  
}

.elemento-interno {
    max-height: 100%;  
    overflow: auto;    
}

.game-container {
    width: 100vw;
    height: 100vh;
    background: #2c3e50;
    position: relative;
    overflow: hidden;
}

.game-screen {
    position: relative;
    overflow: hidden;
    height: 100%; 
}

.image-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}

.inventory-toggle{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    background: #1a1a1a;
    border: 2px solid #d8c59e;
    border-radius: 50%;
    color: #d8c59e;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
}

.inventory-overlay{
    opacity: 0;
    position: absolute;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background: #1a1a1a;
    border-left: 2px solid #555;
    transition: right 0.3s ease;
    z-index: 50;
    display: grid;
    grid-template-rows: repeat(autofill, minmax(60px, 1fr));
    padding: 20px;
    gap: 15px;
    overflow-y: auto;
    box-sizing: border-box;
}

.inventory-overlay.open{
    right: 0;
    opacity: 1;
}

.inventory {
    height: 100vh;
    background: #1a1a1a;
    display: grid;
    grid-auto-rows: minmax(auto , auto);
    padding: 10px; 
    gap: 10px;
    border-left: 2px solid #555;  
    overflow-y: auto;
    align-content: start;
    right: 0;
    top: 0;
}

.inventory-item {
    background: #d8c59e;
    border: 1px solid #fff;
    border-radius: 4px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.pixel-scene {
    width: auto;
    height: auto;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.pixel-wrapper {
    width: 100%;
    max-width: 100vw;
    aspect-ratio: 16 / 9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.scene-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    display: none;
}

.active {
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    z-index: 20;
}

.arrow:hover {
    opacity: 1;
}

#arrow-left {
    left: calc(50% - (var(--image-width) / 2) + 25px);
}

#arrow-right {
    right: calc(50% - (var(--image-width) / 2) + 25px);
}   

.vinheta {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100vh;
    pointer-events: none;
    z-index: 10;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 70%);
    pointer-events: none;
}

