html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    max-width: 100vw;  
}

.elemento-interno {
    max-height: 100%;  
    overflow: auto;    
}

.game-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #2c3e50;
}

.pixel-scene {
    width: auto;
    height: auto;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.scene-container {
    transform-origin: top left;
}

.game-screen {
    flex: 1; 
    background: #34495e; 
    position: relative;
    overflow: hidden;
}

.inventory {
    width: 10%;
    height: 100%;
    background: #1a1a1a;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(60px, auto);
    padding: 10px; 
    gap: 10px;
    border-left: 2px solid #555;  
    overflow-y: auto;
    align-content: start;
}

.inventory-item {
    padding: 1.5px;
    height: 80px;
    background: #d8c59e;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.room {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: none;
}

.active {
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

.arrow:hover {
    opacity: 1;
}

#arrow-left {
    left: 10px;
}

#arrow-right {
    right: 10px;
}   